body{
}

input{
	border-radius: 10px !important;
	color: white !important;
}
.bts{
	border-radius: 10px !important;
}
 ul li a{
	text-transform: uppercase;
	color: black;
	text-align: justify;
}
 .cmsimg img{
 	height: 400px;
 	position: relative;
 }

 h5{
 	display: inline-block !important;
 	background-color: rgba(0, 0, 0, 0.5);
 	padding: 20px;
 	position: absolute;
 	right: 59%;
 	bottom: 47%;

 }
 .menum li  :hover{
 	color: #c82333 !important;
}

.ibx{
	position: absolute;
}
.tbx{
	position: relative;
	left: 110px;
	
}

.for-red{
	color: #c82333;
}

.Menu ul li a:hover{
	color: #c82333 !important;
}